body{
    background-image: url("images/Jojo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
    background-attachment: fixed;
}
pre {
    display: inline-flex;
    
    background: repeating-linear-gradient(
    45deg,
    antiquewhite,
    rgb(221, 208, 190) 10px,
    antiquewhite 10px,
    rgb(204, 192, 176) 20px
    );
    margin-left: 10%;
    margin-top: 0%;
    padding: 2%;
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(112, 89, 59);
    border-style: solid;
  }

p {
    background-color: #747a9b;
    position: relative;
    text-align: center;
}

h1 {
    margin-left: 3.5%;
    display: flexbox;
    padding: 5%;
    opacity: .8;
    top: 0;
    margin-bottom: 0%;
    position: absolute;
    background-color: #9ba1c2;
}