body{
    background: repeating-linear-gradient(
    45deg,
    #848ab1,
    #848ab1 10px,
    #8086a8 10px,
    #747a9b 20px
    );
}
pre {
    display: inline-flex;
    background-color: antiquewhite;
    margin-left: 20%;
    margin-top: 0%;
    padding: 2%;
  }

p {
    background-color: #747a9b;
    position: relative;
    text-align: center;
}

h1 {
    margin-left: 3.5%;
    display: flexbox;
    padding: 5%;
    opacity: .8;
    top: 0;
    margin-bottom: 0%;
    position: absolute;
    background-color: #9ba1c2;
}